.header-top{
    background: url(../img/Bg1.svg) no-repeat #013056;
    background-size: 100%;
    background-position-y: 43%;
    height: 57px;
}
header p{
    color: $font-color-primary-5;
    font-size: 20px;
    font-family: $font-thin;
}
header p span{
    color: $font-color-primary-5;
    font-size: 20px;
    font-family: $font-awesome;
}
.header-middle {
    background-color:$font-color-primary-2;
    height: 40px;
    
    
  }
  .header-bottom{
    background: url("../img/Img_fon.png") no-repeat ;
   
    height: 3360px;
    
  }

  
  