<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="../../src/style/css/bootstrap-grid.min.css"> -->

    <!-- FontAwesome CSS -->
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->

    <!-- ElegantFonts CSS -->
    <!-- <link rel="stylesheet" href="css/elegant-fonts.css"> -->

    <!-- themify-icons CSS -->
    <!-- <link rel="stylesheet" href="css/themify-icons.css"> -->

    <!-- Swiper CSS -->
    <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->

    <!-- Styles -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container-fluide">
                <div class="container">
                        <div class="row">
                                <div class="col-md-4"><p>Sales toll free: <span>1 (877) 894-0925</span> </p></div>
                                <div class="col-md-4"><p>Support toll free: <span>1 (888) 901-83177</span></p></div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                        </div>

                </div>
            </div>                            
        </div>
        <div class="header-middle">
            <div class="container-fluide">
                <div class="container">
                        <div class="row">
                                
                        </div>

                </div>
            </div>                            
        </div>
        <div class="header-bottom">
            <div class="container-fluide">
                <div class="container">
                        <div class="row">
                                
                        </div>

                </div>
            </div>                            
        </div>
    </header>
  




